.todoform {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modernInput {
  display: block;
  width: 100%;
  border: none;
  color: black;
  font-size: 16px;
  margin-right: 10px;
  outline: none;
}

.dateInput {
  width: 500px; /* Keep visible input space */
  margin-left: 40px;
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}

.dateInput::-webkit-datetime-edit {
  display: block; /* Allow text to appear when input is focused */
}

.dateInput::-webkit-calendar-picker-indicator {
  cursor: pointer; /* Make it clear the input is interactive */
}

.modernButton {
  display: inline-block;
  border: none;
  border-radius: 4px;
  background-color: rgb(15, 165, 15);
  padding: 12px 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.inputContainer {
  display: flex;
}

.warningMessage {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  font-weight: bold;
}
