.header {
  font-family: "Lato", sans-serif;
  background-color: #56a6d4;
  text-align: center;
  font-weight: bold;
  height: 50px;
  padding: 10px;
  font-size: 2em;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .header {
    font-size: 1.5em;
    height: 40px;
    padding: 8px 16px;
  }
}
